<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="fulllayout" value="${longdate} ${pad:padding=-5:inner=${uppercase:${level}}} ${logger:shortName=true} ${message} ${exception:format=message,ShortType,StackTrace:maxInnerExceptionLevel=2:innerFormat=message,ShortType,StackTrace}"/>
    
    <targets>
        <target xsi:type="Debugger" name="debugger" layout="${fulllayout}" />
        <target xsi:type="ColoredConsole" name="console" layout="${fulllayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="debugger,console" />
    </rules>
</nlog>