<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <!--<behaviors>
            <endpointBehaviors>
                <behavior name="wark">
                    <endpointMessageInspector />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <extensions>
            <behaviorExtensions>
                <add name="endpointMessageInspector" type="ConsoleTesting.Extendy, ConsoleTesting" />
            </behaviorExtensions>
        </extensions>-->
        <client />
    </system.serviceModel>
</configuration>